$font-family            : 'Microsoft YaHei', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';

// 全局颜色字号样式定义
$white                  : #fff;
$black                  : #181827;
$menu-bg-color          : #dfdeda;
$menu-tint-color        : #e4e4e4;
$select-bg-color        : #5fbf82;
$select-depth-color     : #5b9a72;
$section-bg-color       : #fafafa;
$section-depth-color    : #f1e7e7;
$border-color           : #ebebeb;
$gray-color             : #999;
$font-size-base         : 14px;
$font-size-large        : 16px;
$font-size-bg           : 18px;

// 全局宽高定义
$menu-width             : 200px;
$nav-height             : 26px;
$module-title-height    : 55px;
$slide-margin           : 222px;

// 全局间距
$module-sm-margin       : 5px;
$module-sm-padding      : $module-sm-margin;
$module-margin          : 15px;
$module-padding         : $module-margin;

// other
$border-radius-base     : 4px;
$border-radius-bg       : 20px;
