@import './variable';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  font-family: $font-family;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
