
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1498237046393'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1498237046393#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1498237046393') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1498237046393') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1498237046393#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-player:before { content: "\e674"; }

.icon-singer:before { content: "\e600"; }

.icon-selected:before { content: "\e656"; }

.icon-collection:before { content: "\e616"; }

.icon-sheet:before { content: "\e61d"; }

.icon-rank:before { content: "\e74b"; }

.icon-pause:before { content: "\e79f"; }

.icon-not-collection:before { content: "\e620"; }

.icon-i-player:before { content: "\e608"; }

.icon-next:before { content: "\e62a"; }

.icon-prev:before { content: "\e62b"; }

.icon-prev-song:before { content: "\e61a"; }

.icon-next-song:before { content: "\e61f"; }

.icon-sequence:before { content: "\e67b"; }

.icon-random:before { content: "\e604"; }

.icon-loop:before { content: "\e60c"; }

.icon-up:before { content: "\e60f"; }
